body {
  font-weight: bold;
}
a {
  text-align: left;
  font-weight: bolder;
  color: #ffb357;
  text-shadow: 2px 2px 2px black;
}
a:hover {
  color: #fce3a0;
  text-decoration: none;
}
h1 {
  text-align: center;
  font-weight: bolder;
  color: #ffb357;
  text-shadow: 2px 2px 2px black;
}
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #fce3a0;
  text-shadow: 2px 2px 2px black;
}

h3 {
  text-align: center;
  font-weight: bolder;
  color: #ffce71;
  text-shadow: 2px 2px 2px black;
}
h6 {
  text-align: center;
  color: black;
  font-size: 10px;
}
p {
  color: #12b0e0;
  text-align: center;
}
.city {
  text-align: center;
}
.card-img-top {
  margin: 0px auto;
  display: block;
  padding: 0px;
  line-height: 0px;
  object-fit: fill;
  background-color: #050505;
  width: 312px;
}
.card-body {
  text-align: center;
  font-size: xx-large;
  margin: 0px;
  padding: 10px;
  background-color: rgb(12, 14, 13);
  text-shadow: 1px 1px 1px black;
}
.card-text {
  color: #fce3a0;
  text-align: center;
}
.container {
  background-image: url(starrynight_blue.gif);
  background-color: #050505;
  color: #ffb357;
  font-size: x-large;
  border-color: #ffb357;
  border-width: 15px;
  border-style: ridge;
  border-radius: 4px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  width: 500px;
}
.card-header {
  color: #ff8e9e;
  text-align: center;
  margin: 0px;
  padding: 10px;
  background-color: rgb(12, 14, 13);
  text-shadow: 1px 1px 1px black;
}
.blockquote {
  display: block;
  text-align: center;
  width: fit-content;
  text-align: center;
  background-color: #2d2d2e;
  padding-bottom: 0px;
  margin: 0px;
}
.forecast {
  text-shadow: 1px 1px 1px black;
  background-color: rgb(12, 14, 13);
}
